/* universal CSS */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --tan: #EFDFB6;
    --brown: #513028;
    --black: #332E2C;
    --red: #BA2621;
    --green: #03724B;
}

body {
    font-family: 'Vidaloka', serif;
    background-color: var(--tan);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.3rem;
    padding: 0.2rem 0 0.2rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
}

a {
    color: var(--tan);

    position: relative;
    text-transform: uppercase;
}

/*Text highlights*/
.brown-bg-highlight {
    color: var(--tan);
    background-color: var(--brown);
}

.green-bg-highlight {
    color: var(--tan);
    background-color: var(--green);
}

.red-bg-highlight {
    color: var(--tan);
    background-color: var(--red);
}

.green-highlight {
    color: var(--green);
}

.red-highlight {
    color: var(--red);
}

/*Navbar*/
nav {
    padding: 1em;
    top: 0;
    width: 100%;
    z-index: 1;
    font-size: 1.3rem;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Title*/
.title {
    /*margin: 4.3rem 0 0;*/
}

/*Main collection*/
.collection {
    margin: 1rem;
}

.collection h1 {
    font-size: 3rem;
    margin: 0.7rem;
}

.collection h2 {
    font-size: 2rem;
    margin: 0.5rem;
}

.collection h3 {
    font-size: 1.3rem;
    margin: 0.5rem 0.5rem 3rem;
}

.card {
    text-align: center;

    display: flex;
    flex-direction: column;
}

.descriptors {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.descriptor {
    padding: 0 0.4rem 0;
}

.bgImgOne {
    background: url('../images/coffee-1.png');
}

.bgImgTwo {
    background: url('../images/coffee-2.png');
}

.bgImgThree {
    background: url('../images/coffee-3.png');
}

.bgImgFour {
    background: url('../images/coffee-4.png');
}

.bgImgFive {
    background: url('../images/coffee-5.png');
}

.bgImgSix {
    background: url('../images/coffee-6.png');
}

.bgImgEight {
    background: url('../images/coffee-8.png');
}

.card-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    color: var(--tan);

    padding: 3rem 1rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.card-image hr {
    width: 70%;
    height: 0.2rem;
    background-color: var(--tan);
    border: none
}

.button {
    text-align: center;
    font-size: 1.5rem;

    display: flex;
    justify-content: center;
}

/*Footer*/
footer {
    width: 100%;
    height: 4rem;
    text-align: center;
}

footer p {
    margin-top: 2rem;
    font-size: 1rem;
}

/*Media queries*/
@media screen and (min-width: 700px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        margin: 4rem;
        font-size: 3.5rem;
    }

    h3 {
        margin: 4rem;
        font-size: 2rem;
    }

    .collection {
        margin: 4rem;

        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    a {
        box-shadow: inset 0 0 0 0 var(--brown);
        color: var(--black);
        padding: 0 .25rem;
        margin: 0 -.25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }

    a:hover {
        color: var(--tan);
        box-shadow: inset 200px 0 0 0 var(--brown);
    }
}

@media screen and (min-width: 1250px) {
    .collection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}