/* universal CSS */
*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --tan: #EFDFB6;
    --brown: #513028;
    --black: #332E2C;
    --red: #BA2621;
    --green: #03724B;
}

img {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Vidaloka', serif;
    background-color: var(--tan);
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 4rem;
}

h2 {
    font-size: 1.7rem;
    margin: 3rem 0 1rem;
}

h3 {
    font-size: 1.3rem;
    margin: 1rem 0 3rem;
}

h4 {
    font-size: 1.2rem;
}

p {
    font-size: 1.3rem;
}

a {
    color: var(--tan);
    text-transform: uppercase;
}

/*Text highlights*/
.brown-bg-highlight {
    color: var(--tan);
    background-color: var(--brown);
}

.green-bg-highlight {
    color: var(--tan);
    background-color: var(--green);
}

.red-bg-highlight {
    color: var(--tan);
    background-color: var(--red);
}

.green-highlight {
    color: var(--green);
}

.red-highlight {
    color: var(--red);
}

.intro-add {
    display: grid;
    grid-template-columns: 1fr;
}

/*Main collection*/
.collection {
    margin: 1rem;

    display: grid;
}

.collection h1 {
    font-size: 3rem;
    margin: 0.7rem;
}

.collection h2 {
    font-size: 2rem;
    margin: 0.5rem;
}

.collection h3 {
    font-size: 1.3rem;
    margin: 0.5rem 0.5rem 3rem;
}

.card {
    text-align: center;

    display: grid;
    grid-template-columns: 1fr;
}

.card-box {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.card-image {
    border-radius: 1.5rem 1.5rem 0 0;
    grid-row-start: 1;
    grid-column-start: 1;
}

.card-text {
    color: var(--tan);

    justify-self: center;
    align-self: center;
    grid-row-start: 1;
    grid-column-start: 1;
}
.card-text hr {
    width: 70%;
    height: 0.2rem;
    background-color: var(--tan);
    border: none
}

.descriptors {
    margin: 0 0 2rem;

    display: grid;
    grid-template-columns: 1fr;
}


.descriptor {
    font-size: 1.3rem;
    margin: 0;
    padding: 0.4rem 0 0.4rem;
    text-transform: uppercase;
}

.card-bottom {
    border-radius: 0 0 0.4rem 0.4rem;
}

.to-top {
    text-align: center;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
}

/*Add more coffee*/
form {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 3rem 0 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    margin-top: 1rem;
}

input[type=submit] {
    color: var(--black);
    background-color: var(--tan);
    border: 0.15rem solid var(--brown);
    border-radius: 0.3rem;
    padding: 0.4rem 6rem 0.4rem;
    margin-top: 2rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;

    position: relative;
    text-transform: uppercase;
}

input[type=submit]:hover {
    color: var(--tan);
    box-shadow: inset 5rem 0 0 0 var(--brown);
}

input[type=text], input[type=number], input[type=text], select {
    background-color: var(--tan);
    color: var(--black);
    border: 0.15rem solid var(--black) ;
    border-radius: 0.3rem;
}

.coffee-form {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

::placeholder {
    color: #706C6A;
}

sup {
    color: var(--red);
}

/*Footer*/
.footer {
    text-align: center;
    padding: 2rem 4rem 0;

    background-color: var(--brown);
}

.footer p {
    color: var(--tan);
    margin: 2rem 0 0;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

a.footer-btn {
    color: var(--tan);
    font-size: 1.3rem;
    padding-bottom: 0.25rem;
    position: relative;
}

.button {
    font-size: 1.5rem;

    justify-self: center;
    align-self: center;

    color: var(--black);
    background-color: var(--tan);
    border: 0.15rem solid var(--brown);
    border-radius: 0.3rem;
    padding: 0.4rem 3rem 0.4rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;

    position: relative;
    text-transform: uppercase;
}

.button:hover {
    color: var(--tan);
    box-shadow: inset 25rem 0 0 0 var(--brown);
}

/*Media queries*/
@media screen and (min-width: 700px) {
    h1 {
        font-size: 6rem;
    }

    h2 {
        margin: 1.2rem 0 1.5rem;
        font-size: 3.5rem;
    }

    h3 {
        margin: 0 0 3rem;
        font-size: 2rem;
    }

    .collection {
        margin: 4rem;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2rem;
    }

    a.footer-btn::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 0;
        height: 0.1rem;
        background-color: var(--tan);
        transition: width 0.25s ease-out;
    }

    a.footer-btn:hover::before {
        width: 100%;
    }

    input[type=text], input[type=number], input[type=text], select {
        width: 32rem;
    }

    input[type=submit]:hover {
        box-shadow: inset 19rem 0 0 0 var(--brown);
    }
}

@media screen and (min-width: 1250px) {
    .collection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2rem;
    }
}